.benefit {
    text-align: center;

    @include phones {
        display: flex;
        text-align: left;
        margin-bottom: 20px;
        padding-right: 48px;
        align-items: center;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.benefit__image-wrapper {
    display: inline-block;
    width: 126px;
    height: 126px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    background: #f3f5f4;
}

.benefit__icon {
    width: 75px;
    height: 69px;
    fill: #292929;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.benefit__title {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #292929;
}

.benefit__image {
    margin-bottom: 20px;

    @include phones {
        margin-bottom: 0;
        margin-right: 20px;
    }
}