.burger {
  position: fixed;
  top: 3%;
  right: 4%;
  z-index: $z-fixed-menu;
  width: 24px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  cursor: pointer;

  &--active {
    .burger__line{
      &:nth-child(1){
        opacity:0;
        transition: all .4s;
      }
      
      &:nth-child(2){
        transform:rotate(45deg);
        transition: all .4s;
      }
      
      &:nth-child(3){
        transform:rotate(-45deg) translateY(-6px) translateX(5px);
        transition: all .4s;
      }
    }
  }
  
  @include tablets {
      display: inline-flex;
  }
}

.burger__line {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 5px;
}

.overlay{
  background-color: black;
  display: flex;
  align-items:center;
  justify-content: center;
  margin: 0;
  transition: all 0.4s;
  position:fixed;
  top:0;
  left:100%;
  opacity:0;
  width: 100vw;
  height: 100vh;
  z-index: 10;

  &--active{
    left: 0;
    opacity:1;
  }
}

.overlay--active .menu {

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__item {
    margin-bottom: 25px;
    margin-right: 0;
    display:flex;
    flex-direction:column;
    align-items:center;
    
    &:last-child{
      margin-bottom:0;
    }
  }
  
  &__link {
    font-size: 36px;
    color: #fff;
    text-decoration: none;

    &:hover{
      opacity:.7;
    }
  }
}