.headline {
    text-align: center;
}

.headline__title {
    margin-bottom: 25px;
}

.headline__subtitle {
    margin-bottom: 50px;
    padding: 0 24%;

    @include phones {
        padding: 0 5%;
    }
}