.products-section {
    position: relative;
    background-color: #F8FAF9;

    &:before{
        position: absolute;
        bottom: rem(-180px);
        right: 0;
        content: url(../img/decor/berries-leaf.png);
    }
}

.poducts-slider {
    position: relative;
}

.poducts-slider__arrows {

    &--direction--prev {
        position: absolute;
        left: -2%;
        bottom: 50%;
    }

    &--direction--next {
        position: absolute;
        right: -2%;
        bottom: 50%;
    }
}

.arrows {
    width: rem(24px);
    height: rem(40px);
}

.product__container {
    display: flex;

    @include tablets {
        flex-direction: column;
        text-align: center;
        padding: rem(0px) rem(50px);
        align-items: center;
    }
}

.product__col {
    flex: 1;
    
    &-container {
       padding: rem(0px) rem(10px) rem(0px) rem(60px);
        
        @include tablets {
            padding: 0;
        }
    }
}

.product__ingredients {
    width: rem(100px);
    height: rem(100px);
    background: #86c3d7;
    border-radius: rem(5px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include tablets {
        display: none;
    }
}

.product__title {
    font-size: rem(36px);
    text-transform: uppercase;
    font-weight: bold;
    margin-top: rem(23px);
    color: #292929;
}

.product__text {
    margin-bottom: rem(25px);
}

.product__values {
    display: flex;

    &-order {
        display: flex;
        margin-top: rem(25px);

        @include tablets {
            justify-content: center;
        }
    }

    &-selary {
        font-size: rem(60px);
        margin-right: rem(30px);
        color: #292929;
        white-space: nowrap;
    }

    @include tablets {
        text-align: left;
        justify-content: center;
    }
}

.product__values-col {
    margin-right: rem(40px);   
    
    &:last-child {
        margin-right: rem(0px);
    }
}

.product__values-bold {
    color: #292929;
    font-weight: bold;
}

.structure {
    margin-top: rem(15px);
    width: rem(46px);
    height: rem(46px);
}

.structure__text {
    margin-bottom: rem(15px);
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}